[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PMEvapotranspiration"]
	path = PMEvapotranspiration
	url = https://github.com/cran/PMEvapotranspiration
